*.pydevproject
.metadata
.gradle
cache/
ptx/
*.ptx
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project
#specific files
benchmark
sweeping_test
LFLAGS
# binaries
/obj
*.o
#libraries
*.a
# External tool builders
.externalToolBuilders/
# Locally stored "Eclipse launch configurations"
*.launch
# CDT-specific
.cproject
# PDT-specific
.buildpath
# sbteclipse plugin
.target
# TeXlipse plugin
.texlipse
